* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Body starts here */
body {
  background-color: #ffffff;
  color: #443233;
}

/* HOME */

  /* Header starts here */
  header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container-fluid {
    padding: 0px 10%;
  }

  .header-text {
    padding: 10px 10%;
  }

  .header-text h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
  }

  .header-text p {
    font-size: 30px;
    line-height: 50px;
    margin-top: 40px;
  }

  /* Navbar starts here */
  .navbar-brand img {
    width: 12vmax;
    align-items: flex-start;
    margin: 1vmax 3vmax 1vmax 0vmax;
  }

  li {
    margin-right: 20px;
  }

  a.nav-link {
    font-weight: bold;
  }

  /* Active navbar link */
  .navbar-nav .nav-link.active {
    color: #3cb6b8;
    font-weight: bold;
  }

  .transparent {
    --bs-bg-opacity: 0;
  }
  /* Navbar ends here */

  code {
    background-color: #d6ebf2;
    border: 1px solid #443233;
    padding: 0px 15px 8px 15px;
    color: #443233;
    font-family: "Lato", sans-serif;
  }

  .draw-font {
    font-family: Charmonman, sans-serif;
  }

  /* Welcome button starts here*/
  .welcome-btn {
    background-color: #ff974a;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 8px #2a7ce0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .welcome-btn:hover {
    background-color: #2a7ce0;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px #ff974a;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .home-welcome-btn {
    display: inline-block;
    margin-top: 80px;
    margin-left: 10%;
  }
  /* Welcome button ends here */

/* HOME section ends here */

/* ABOUT */

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 10%;
  }

  .about-col-1 {
    flex-basis: 45%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-col-1 img {
    width: 100%;
    border-radius: 15px;
  }

  .about-col-2 {
    flex-basis: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-col-2 p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 40px;
  }

  /* Contact button - ABOUT */
  .contact-btn {
    background-color: #f45658;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 8px #3cb6b8;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .contact-btn:hover {
    background-color: #3cb6b8;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px #f45658;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .about-contact-btn {
    float: inline-end;
    margin-top: 10%;
  }
  /* Contact button ABOUT ends here */

/* ABOUT section ends here */

/* SKILLS */

  #skills {
    background-image: url("../images/skills-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .skills-col-1 {
    flex-basis: 45%;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .skills-col-2 {
    flex-basis: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .subtitle-skill {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
    text-align: center;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: #443233;
  }

  .illustration {
    background: #fec548;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }

  .illustration p {
    line-height: 20px;
  }

  .graphic-design {
    background: #3cb6b8;
    color: #ffffff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }

  .graphic-design p {
    line-height: 20px;
  }

  .back-end {
    background: #ffa0a6;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }

  .back-end p {
    line-height: 20px;
  }

  .front-end {
    background: #2a7ce0;
    color: #ffffff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }

  .front-end p {
    line-height: 20px;
  }

  .skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .skills-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .dark-link {
    text-decoration: none;
    color: #443233;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
  }

  .light-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
  }

  .skills-list div:hover {
    background: #ff974a;
    transform: translateY(-10px);
  }

  /* Contact button - SKILLS */
  .contactme-btn {
    background-color: #fec548;
    border: 2px solid #443233;
    color: #443233;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 8px #9ddff3;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .contactme-btn:hover {
    background-color: #9ddff3;
    border: 2px solid #443233;
    color: #443233;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px #fec548;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .skills-contact-btn {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Contact button SKILLS ends here */

/* SKILLS section ends here */

/* WEB PORTFOLIO */

  #web {
    padding: 50px, 0;
    margin-top: 50px;
  }

  .card-title {
    color: #ffffff;
    font-weight: bold;
    font-size: large;
  }

  .subtitle-web {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .web img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
  }

  .layer-1 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #ffa0a6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-1 p {
    line-height: 23px;
  }

  .layer-1 h3 {
    margin-bottom: 20px;
  }

  .layer-1 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-2 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #ff974a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-2 p {
    line-height: 23px;
  }

  .layer-2 h3 {
    margin-bottom: 20px;
  }

  .layer-2 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-3 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #fec548);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-3 p {
    line-height: 23px;
  }

  .layer-3 h3 {
    margin-bottom: 20px;
  }

  .layer-3 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-4 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #3cb6b8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-4 p {
    line-height: 23px;
  }

  .layer-4 h3 {
    margin-bottom: 20px;
  }

  .layer-4 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .web:hover img {
    transform: scale(1.1);
  }

  .web:hover .layer-1 {
    height: 100%;
  }

  .web:hover .layer-2 {
    height: 100%;
  }

  .web:hover .layer-3 {
    height: 100%;
  }

  .web:hover .layer-4 {
    height: 100%;
  }

  /* See more button - WEB PORTFOLIO */
  .seemore-btn {
    display: flex;
    margin: 60px 0;
    justify-content: center;
    align-items: center;
  }
  /* End of see more button - WEB PORTFOLIO */

/* WEB PORTFOLIO section ends here */

/* ART PORTFOLIO */

  #art {
    padding: 50px, 0;
  }

  .subtitle-art {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .art-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: #443233;
  }

  .art {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .art img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
  }

  .layer-5 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #3cb6b8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-5 p {
    line-height: 23px;
  }

  .layer-5 h3 {
    margin-bottom: 20px;
  }

  .layer-5 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-6 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #fec548);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-6 p {
    line-height: 23px;
  }

  .layer-6 h3 {
    margin-bottom: 20px;
  }

  .layer-6 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-7 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #f45658);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-7 p {
    line-height: 23px;
  }

  .layer-7 h3 {
    margin-bottom: 20px;
  }

  .layer-7 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .layer-8 {
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #ff974a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
  }

  .layer-8 p {
    line-height: 23px;
  }

  .layer-8 h3 {
    margin-bottom: 20px;
  }

  .layer-8 a i {
    margin-top: 20px;
    color: #f45658;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .art:hover img {
    transform: scale(1.1);
  }

  .art:hover .layer-5 {
    height: 100%;
  }

  .art:hover .layer-6 {
    height: 100%;
  }

  .art:hover .layer-7 {
    height: 100%;
  }

  .art:hover .layer-8 {
    height: 100%;
  }

  .italic-book-titles {
    font-style: italic;
  }

/* ART PORTFOLIO section ends here */

/* CONTACT */

  #contact {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    background-image: url("../images/contact-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact-left{
    flex-basis: 40%;
  }

  .subtitle-contact {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .text-contact {
    font-size: large;
  }

  .contact-right {
    flex-basis: 55%;
    margin-top: 20%;
  }

  .contact-info {
    font-size: large;
  }

  .contact-info i {
    color: #f45658;
    margin-right: 15px;
    font-size: 25px;
    line-height: 30px;
  }

  .social-icons {
    margin-top: 30px;
  }

  .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #9ddff3;
    display: inline-block;
    transition: transform 0.5s;
  }

  .social-icons a:hover {
    color: #2a7ce0;
    transform: translateY(-5px);
  }

  .contact-left form {
    width: 100%;
    margin-left: -50%;
  }

  .contact-nav {
    margin-left: -20%;
  }

  form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #443233;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
  }

  /* Contact button - CONTACT */

  .contact-contact-btn {
    margin-top: 40px;
  }

/* CONTACT section ends here */

