* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #ffffff;
    color: #443233;
  }

  /* Header starts here */
  header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container-fluid {
    padding: 10px 10%;
  }

  .header-text {
    padding: 10px 10%;
  }

  .header-text h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
  }
  
  .header-text p {
    font-size: 30px;
    line-height: 50px;
    margin-top: 40px;
  }

  /* Navbar starts here */
  .navbar-brand img {
    width: 12vmax;
    align-items: flex-start;
    margin: 1vmax 3vmax 1vmax 0vmax;
  }

  li {
    margin-right: 20px;
  }

  a.nav-link {
    font-weight: bold;
  }

  /* Active navbar link */
  .navbar-nav .nav-link.active {
    color: #3cb6b8;
    font-weight: bold;
  }
  /* Navbar ends here */
  
  code {
    background-color: #d6ebf2;
    border: 2px solid #443233;
    padding: 0px 15px 8px 15px;
    color: #443233;
  }
  
  .draw-font {
    font-family: Charmonman;
  }

  /* Welcome button starts here*/
  .welcome-btn {
    background-color: #ff974a;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 8px #2a7ce0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .welcome-btn:hover {
    background-color: #2a7ce0;
    border: 2px solid #443233;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px #ff974a;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .home-welcome-btn {
    display: inline-block;
    margin-top: 80px;
    margin-left: 10%;
  }
  /* Welcome button ends here */
